canvas {
  display: block;
}

.game-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50px);
  width: 290px;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  outline: none;
  text-align: center;
}