<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glassmorphism Sign-Up Form</title>
  <link rel="stylesheet" href="reset-pwd.component.css">
</head>
<body>
  <div class="wrapper">
    <form action="#">
      <h2>Reset Password</h2>
      <div class="input-field">
        <input type="text" required>
        <label>Full Name</label>
      </div>
      <div class="input-field">
        <input type="email" required>
        <label>Email Address</label>
      </div>
      <div class="input-field">
        <input type="password" required>
        <label>Create Password</label>
      </div>
      <div class="input-field">
        <input type="password" required>
        <label>Confirm Password</label>
      </div>
      
      <button type="submit" class="btn-signup">Confirm</button>
    </form>
  </div>
</body>
</html>